* {
  font-family: 'Cabin', 'Roboto', sans-serif;
}
.one {
  display: flex;
  flex-direction: column;
  background-color: #005c99;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 12vw;
}

.header > h1 {
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 12vw;
}

.hero-left,
.hero-right {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
}

.hero-left > h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero-left > p {
  font-size: 18px;
}

.hero-left > button {
  border: solid 3px #F9FAF8;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 8px 24px;
  border-radius: 8px
}

.hero-right > img {
  object-fit: fill;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1F2937;
  padding-bottom: 2vw;
  margin: 0;
}

.icons {
  display: flex;
  flex: auto;
  margin-left: 12vw;
  margin-right: 12vw;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.container > h1 {
  font-size: 36px;
  font-weight: bolder;
}

.icon > img {
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  border-radius: 10px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-source {
  display: flex;
  align-items: flex-end;
}